<table>
          <tbody>
            <% book.post_comments.each do |post_comment| %>
            <tr>
              <td>
              <%= link_to(book.user) do %>
                <%= image_tag post_comment.user.get_profile_image(50,50) %><br>
                <%= post_comment.user.name %>
              <% end %>
              </td>
              <td>
              <%= post_comment.comment %>
              </td>
              <td>
              <% if post_comment.user == current_user %>
                <%= link_to 'Destroy', book_post_comment_path(post_comment.book, post_comment), method: :delete, remote: true, class: "btn btn-danger pull-right" %>
              <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
</table>