<!--フォロワー一覧-->
<h2>Follower Users</h2>
<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(50,50) %></td>
        <td><%= user.name %></td>
        <td>フォロー数:<%= link_to user.followings.count, followings_user_path(user) %></td>
        <td>フォロワー数:<%= link_to user.followers.count, followers_user_path(user) %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>

    <% end %>
  </tbody>
</table>